
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.todo-container {
  height: 300px; /* Set the desired fixed height */
  overflow: auto; /* Add a scrollbar if the content overflows the fixed height */
}

.todo-list {
  list-style-type: none;
  padding: 0;
  list-style-type: none;
}
.taskdate, .tasktext {
  width: 150px;
  height: 20px;
  background-color: white;
  color: black;
  border: 1px solid #666; /* Bordure */
  padding: 5px; /* Marge intérieure */
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  margin: 5px;
  display: 'inline-block',
}
.taskprio{
  width: 150px;
  height: 30px;
  background-color: white;
  color: black;
  border: 1px solid #666; /* Bordure */
  padding: 5px; /* Marge intérieure */
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  margin: 5px;
  display: 'inline-block',
}
.taskdate::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Inverse la couleur de l'icône du calendrier */
  color: white; /* Couleur de l'icône du calendrier */
  font-size: 18px;
}

.addtask{
  width: 70px;
  height: 30px;
  margin: 10px;
  background-color: #F9B0C3;
  color: black;
  font-size: 12px;

}

.taskapp{
  margin-top: -300px;
  margin-left: -250px;
}

.taskapp h1{
  color: white;
  font-size: 30px;
  margin-top: 50px;
}


.done-todo-list {
  list-style-type: none;
  padding: 0;
  list-style-type: none;
}

.done-todo-item {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.todo-info {
  display: flex;
  align-items: center;
}

.class1 {
  margin-right: 10px;
}

.class2 {
  font-weight: bold;
}

.delete-button {
  margin: 10px; /* Push the delete button to the right */
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.checkbox-button {
  border: 1px solid dark;
  border-radius: 5px;
  background-color: rgb(116, 116, 135);
  padding: 5px 5px;
  cursor: pointer;
  color: black;
}

.completed {
  background-color: black; /* Ajoutez la couleur de fond souhaitée pour l'état complété */
  color: red; /* Ajoutez la couleur de texte souhaitée pour l'état complété */
  border: 1px solid rgb(192, 192, 192); /* Ajoutez la couleur de bordure souhaitée pour l'état complété */
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  flex-direction:row;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
}

.task-info {
  margin-bottom: 10px;
  display: flex;
  align-items: center;


}

.task-header,
.task-content {
  display: flex;
  align-items: center;
}

.class1 {
  margin-right: 10px;
}

.class2 {
  font-weight: bold;
}

.delete-button {
  align-self: flex-end; /* Align the delete button to the right */
  cursor: pointer;
  color: red;
}

.checkbox-button {
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  margin-right: 10px;
}

.checkbox-button.completed {
  background-color: #ccc;
  color: #333;
}

