
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.todo-list {
 
  width: 60px;
}
.taskdate, .tasktext {
  width: 150px;
  height: 20px;
  background-color: white;
  color: black;
  border: 1px solid #666; /* Bordure */
  padding: 5px; /* Marge intérieure */
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  margin: 5px;
  display: 'inline-block',
}
.taskprio{
  width: 150px;
  height: 30px;
  background-color: white;
  color: black;
  border: 1px solid #666; /* Bordure */
  padding: 5px; /* Marge intérieure */
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  margin: 5px;
  display: 'inline-block',
}
.taskdate::-webkit-calendar-picker-indicator {
  filter: invert(1); /* Inverse la couleur de l'icône du calendrier */
  color: white; /* Couleur de l'icône du calendrier */
  font-size: 18px;
}

.addtask{
  width: 70px;
  height: 30px;
  margin: 10px;
  background-color: #F9B0C3;
  color: black;
  font-size: 12px;

}

.taskapp{
  margin-top: -630px;
  margin-left: -250px;
}

.taskapp h1{
  color: white;
  font-size: 30px;
  margin-top: 50px;
}