
.box{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    height: auto;
    width: 80px;
    text-align: center;

}
.centered-list {
    list-style-type: none;
    padding: 0;
    text-align: left; /* Reset text alignment for list items */
  }
  
  .centered-list li {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; /* Center list items horizontally */
  }

  .box1{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    height: auto;
    width: auto;
    text-align: center;

}